<h3>RefreshTokens</h3>
@inject HttpClient Http

@code {

	private string requestUri = "https://localhost:44386/api/Token";

	//protected override async Task OnInitializedAsync()
	//{
	//	var response = await Http.PutAsJsonAsync("api/Token/refresh", );

	//	movies = await response.Content.ReadFromJsonAsync<DiscoverMovie>();

	//	if (movies?.Results == null)
	//	{
	//		await JSRuntime.InvokeVoidAsync("alert", movies);
	//	}

	//}

}
